@media only screen and (max-width: 700px) {
  header {
    height: 7rem;
  }
  header .container {
    height: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  }
  header .container .logo {
    height: 70%;
  }
  header .container nav .searchIcon {
    display: inline;
  }
}
@media only screen and (max-width: 420px) {
  header {
    height: 6rem;
  }
  header .container {
    height: 6rem;
  }
  header .container .logo {
    min-width: 7rem;
    height: 2.5rem;
  }
  header .container nav {
    width: 11rem;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 700px) {
  .searchContainer {
    display: none;
  }
}
body {
  overflow-y: scroll !important;
}
body::-webkit-scrollbar {
  width: 0.75rem;
}
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255); /* color of the tracking area */
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 104, 128); /* color of the scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 104, 128);
}

.recommendations {
  width: 84%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
}
.recommendations .rec-1 {
  height: calc((100vh - 4rem) / 3.1);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
}
.recommendations .rec-1 h3 {
  font-weight: normal;
}
.recommendations .rec-1 h1 {
  cursor: pointer;
}
.recommendations .rec-1 .categories {
  height: calc((100vh - 4rem) / 3.1 / 2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.recommendations .rec-1 .categories .category-card {
  width: auto;
  height: 90%;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.recommendations .rec-1 .categories .category-card img {
  border-radius: 50%;
  background-color: rgb(204, 204, 204);
}
.recommendations .rec-1 .categories .category-card span {
  margin-top: 0.3rem;
}
.recommendations .rec-1 .categories .category-card:hover {
  transform: scale(1.05);
}
.recommendations .rec-2, .recommendations .rec-3 {
  height: calc((100vh - 4rem) / 2.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  gap: 0;
}
.recommendations .rec-2 h1, .recommendations .rec-3 h1 {
  cursor: pointer;
}
.recommendations .rec-2 .react-multi-carousel-list, .recommendations .rec-3 .react-multi-carousel-list {
  height: calc((100vh - 4rem) / 2.5 / 1.2);
  padding-left: 3rem;
}
.recommendations .rec-2 .product-card, .recommendations .rec-3 .product-card {
  width: 10rem;
  height: auto;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid rgb(204, 204, 204);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap: 0;
}
.recommendations .rec-2 .product-card:hover, .recommendations .rec-3 .product-card:hover {
  background-color: rgb(204, 204, 204);
  transform: scale(1.03);
}/*# sourceMappingURL=Recommendations.css.map */