@import "../../../components/sass_files/_variables";
@import "../../../components/sass_files/_methods";
@import "../../../components/sass_files/_mediaQueries.scss";

.searchContainer {
  width: 95%;
  @include displayFlex(row, nowrap, center, center, 0.5rem);

  input {
    width: 50%;
    height: 2.5rem;
    border: 0.06rem solid black;
    outline: none;
    border-radius: 0.25rem;
    font-size: 1.1rem;
    padding-left: 1rem;
    transition: 0.2s;

    &::placeholder {
      color: $grey;
    }
  }

  button {
    width: 5rem;
    height: 2.5rem;
    color: $white;
    background-color: $yellow;
    font-size: 1.1rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    user-select: none;
    box-shadow: 10px 10px 20px -2px $shadowColor;
    transition: 0.3s;
    cursor: pointer;
    -webkit-box-shadow: 10px 10px 20px -2px $shadowColor;
    -moz-box-shadow: 10px 10px 20px -2px $shadowColor;

    &:hover {
      transform: scale(1.03);
      background-color: $white;
      color: $yellow;
    }
  }
}
